html {
   height: 100%;
}
			
body {
    margin: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    
}
a {
    text-decoration: none;
    width: 0px;
}
			       

header {
	height: 100px;
	flex: 0 0 auto;
    background: #f9edf5;
    display: block;
    justify-content: space-between;    
}

main {          
    flex: 1 0 auto;
    position: relative;
    margin: 0px;
    opacity: 0.9;
    
}
			
footer {
    height: 100px;            
    flex: 0 0 auto;
    background: #f9edf5;
}
.logo_start{
    align-content: flex-end;
}
.logo {
display: block;    
width: 50px;
height: 50px;
background: url("../img/logo_2.svg")  no-repeat left;
flex: none;
float: left;
margin-top: 30px;
margin-right: 50px;    
}
.logo_body {
    
}
.container {  
    margin: 0 auto;
    width: 1400px; 
    display: flex;  
}
.img/allance.png {
    display: 
}
.flag {
    width: 30px;
    height: 30px;
    background: url("../img/fag.svg") no-repeat right;
    float: right;
    margin-right: 500px;
    margin-top: 30px;
    float: right;
}

.logo_body {
    width: 28%;
}
